<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Jonas Neubert" />

    <link
      rel="shortcut icon"
      sizes="16x16"
      type="image/x-icon"
      href="/favicon.ico"
    />
    <link rel="icon" sizes="32x32" type="image/png" href="/favicon-32px.png" />
    <link
      rel="icon"
      sizes="192x192"
      type="image/png"
      href="/favicon-192px.png"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />

    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700"
      rel="stylesheet"
    />

    {{ $style := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />

    <title>{{ .Title }}</title>
    {{ block "head" . }}{{ end }}
  </head>

  <body>
    <div class="min-h-screen flex flex-col overflow-x-hidden  md:flex-row">
      {{ partial "side-nav.html" . }}
      <main class="w-full">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
