
/* additional styles apply for screen widths over 852px, see below */

body {
    background: white url('/images/bg.jpg');
}
#couchcorner {
    position: relative;
    height: 376px;
    width: 376px;
    margin: auto;
}
#mynameisjonas {
    position: absolute;
    bottom: 283px;
    left: 41px;
    width: 320px;
    height: 32px;
    overflow: hidden;
    text-align: right;
    background-color: #000;
    padding: 5px;
}

#mynameisjonas > p {
    margin: 0;
    color: #fff;
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
    line-height: 32px;
}

#mynameisjonas > p::after {
    content: '↵';
    font-size: 0.5rem;
}

#speakingbubble1 {
    position: absolute;
    bottom: 273px;
    left: 291px;
}

#couch {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 376px;
    max-width: 100%;
}

@media screen and (min-width: 852px) {
    #couchcorner > div {
    margin: 0; /* override margin:auto from default layout */
    }
    #aboutjonas {
    float: left;
    max-width: 42vw; /* don't get closer than 5% screen width of center line */
    }
    #aboutjonas > div {
    width: 100%;
    max-width: 520px;
    margin: 13.5% 0 0 15%;
    }
}

#polaroids {
    background-color: #ffe400;
}
#credits {
    font-size: 0.8em;
    padding: 150px 0 150px 0;
    text-align: center;
}


