@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply tracking-wider font-light; /* bring back spacing from pre-Google fonts version of Quicksand */
  }

  main a,
  main a:visited,
  main a:link {
    @apply text-red-600 decoration-transparent font-medium;
  }

  main ::selection {
    @apply bg-red-600 text-white;
  }

  table.comparison-table {
    font-size: 0.8em;
  }

  th.comparison-table-symbology {
    height: 140px;
    white-space: nowrap;
  }

  th.comparison-table-symbology > div {
    transform: translate(15px, 50px) rotate(315deg);
    width: 30px;
  }
  th.comparison-table-symbology > div > span,
  th.comparison-table-symbology > div > a {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }
}

