{{ define "main" }}
  <section class="w-full max-w-5xl mx-auto py-10 px-4 md:py-16">
    <div class="pb-4 prose max-w-5xl">
      <h1 class="mb-8">Posts</h1>

      {{ $section := where $.Site.RegularPages "Section" "posts" }}
      {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") 100 }}


      <ul>
        {{ range $paginator.Pages }}
          <li class="py-2 text-lg font-medium text-black">
            <a href="{{ .RelPermalink }}"> {{ .Title }}</a> -
            {{ .PublishDate.Format "Jan 2006" }}
          </li>
        {{ end }}
      </ul>
    </div>

    {{ partial "paginator.html" . }}

  </section>
{{ end }}
