name: Hugo Build

on:
  # run after every push to main branch
  push:
    branches:
      - main
  # allows running this workflow manually from the Actions tab
  workflow_dispatch:

# allow one concurrent deployment
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true # need for fetching Hugo themes
          fetch-depth: 0 # fetch all history for .GitInfo and .Lastmod

      - id: pages
        uses: actions/configure-pages@v5

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.144.2'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Enable Corepack
        run: corepack enable

      - name: Build CSS (Tailwind)
        run: yarn install && yarn tw-build

      - name: Run Hugo
        run: |
          hugo \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

  publish:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        # this step knows where to pick up the files because the build job used the
        # actions/upload-pages-artifact action
